.project-wrapper {
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}

.project-link, .project-link:hover {
  text-decoration: none;
}

.project-link:hover{
  color: #fff;
}

.project-wrapper:hover {
  background: #000;
  color: #fff;
  .project-link{
    color: #fff;
  }
}

.project-0 {
  background: cadetblue;
}

.project-1 {
  background: #a3ffc7;
}

.project-2 {
  background: #72fffc;
}

.project-3 {
  background: #b152ff;
}

.project-4 {
  background: #ffcd28;
}

.project-5 {
  background: #7694ff;
}

.project-6 {
  background: #ffa0a8;
}

.project-7 {
  background: red;
}

.project-8 {
  background: blanchedalmond;
}