@import "variabiles";

.chat-container {
  min-height: 100vh;
}

.chat-input {
  &:focus {
    outline: none;
  }
  color: $isabelline-color;
  border: none 0;
  width: 100%;
  background: $outer-space-color;
}