// color https://coolors.co/424b54-9ad2cb-d0ccd0-eff1f3-eeeeee
$middle-blue-green-color: #9AD2CB;
$outer-space-color: #424B54;
$light-gray-color: #D0CCD0;
$anti-flash-white-color: #EFF1F3;
$isabelline-color: #EEEEEE;

$primary: $middle-blue-green-color;
$secondary: $outer-space-color;
