.form-control {
  margin: 0 auto 0 auto;
  max-width: 400px;
}

.btn-submit {
  max-width: 200px;
  margin: 0 auto 0 auto;
}

.article-section-title {
  line-height: 3em;
}

.text-area {
  height: 125px;
  resize: none;
}

.info-scroll {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  opacity: 0;
  animation: fade-out 5s;
}

.message-scroll {
  position: relative;
}

.last-message {
  position: relative;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}